@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          David BENARD
 * @note            Views/Player
 */

#player-index {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#player-index .header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#player-index .channel-container {
  display: flex;
  margin-top: 15px;
  width: 95%;
  height: 100%;
}

#player-index .channel-stats {
  padding: 3% 0;
}

#player-index .tabs-container {
  display: flex;
  width: 95%;
  padding-left: 15px;
}

#player-index .header .banner img{
  width: 100%;
}

#player-index .content {
  display: flex;
  margin-top: 15px;
}

#player-index .videos {
  display: flex;
  margin: auto;
  width: 95%;
  height: 100%;
}


