@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          David BENARD
 * @note            Views/Video
 */

#video-index {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#video-index .primary {
  display: flex;
  width: 100%;
}

#video-index .secondary {
  display: flex;
  padding-top: 6px;
  padding-right: 6px;
  width: 402px;
  min-width: 300px;
}

#video-index .secondary-inner {
  display: block;
  width: 100%;
}


#video-index .primary-inner {
  display: block;
  width: 100%;
}

#video-index .player {
  position: relative;
  display: block;
}

#video-index .below {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: auto;
}

#video-index .below .title {
  margin-top: 10px;
  font-weight: bold;
}

#video-index .below .channel-container {
  margin-top: 10px;
}

#video-index .below .description {
  position: relative;
  border-radius: 12px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

#video-index .below .description-inner {
  margin: 12px;
}

#video-index .below .description-inner .info-container{
  font-weight: bold;
}

#video-index .below .description-inner .description-text-container {
  font-size:14px;
  font-family: "Roboto","Arial",sans-serif;
  white-space: pre-wrap;
}


#video-index .secondary .secondary-inner .tabs {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#video-index .secondary .secondary-inner .tabs .tab {
  font-size: 14px;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  margin:8px;
  min-width: 12px;
  cursor: pointer;
  font-family: "Roboto","Arial",sans-serif;
  align-items: center;
}

#video-index .secondary .secondary-inner .tabs .tab.selected {
  background-color: #000000;
  color: White;
}

#video-index .secondary .secondary-inner .video {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

#video-index .secondary .secondary-inner .video .thumbnail {
  margin-right: 8px;
  height: 94px;
  width: 168px;
  display: flex;
  flex-direction: row;
}

#video-index .secondary .secondary-inner .video .thumbnail img{
  height: 94px;
  width: 168px;
}

#video-index .secondary .secondary-inner .video .details {
  display: flex;
  flex-direction: column;
}

#video-index .secondary .secondary-inner .video .details .title {
  display: flex;
  margin-top: 5px;
  height: 50px;
  font-size: 12px;
  overflow: hidden;
}

#video-index .secondary .secondary-inner .video .details .avatar {
  display: flex;
  font-size: 12px;
}


