@charset "UTF-8";
/**
 * @author          David BENARD
 * @note            Config - Variables
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Breakpoints
*/


/* == @section Breakpoints ==================== */
$small-screen           : 480; // small screens media query
$medium-screen          : 768; // medium screens media query
$large-screen           : 1024; // large screens media query
$extra-large-screen     : 1280; // extra large screens media query
$ultra-large-screen     : 1600; // ultra large screens media query

