.avatar img {
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

a, span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 12px;
}

/** VIDEO LIST */
.videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.videos .video {
    width: 270px;
    margin-bottom: 30px;
}

.videos .thumbnail {
    width: 100%;
    height: 170px;
}

.videos .thumbnail img {
    object-fit: cover;
    height: 94%;
    width: 100%;
}

.videos .avatar img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.videos .details {
  display: flex;
  flex-direction: row;
}

.videos .title {
  display: flex;
}

.videos .details-inner {
  display: flex;
  flex-direction: column;
}

.videos .pseudo {
  display: flex;
}

.videos .title  {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: bold;
}
