@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Media queries
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Extra-small: up to 480px
    == Small: 480px and beyond
        -- Up to 768px
    == Medium: 768px and beyond
        -- Up to 1024px
    == Large: 1024px and beyond
    == Extra-large: 1280px and beyond
    == Ultra-large: 1600px and beyond
*/

@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
    .show-sidebar {
        z-index: 100;
        display: inline;
        position: fixed;
        top: 50px;
        height: 100%;
        width: 230px;
        overflow-y: auto;
    }
    .search {
        display: none;
    }
}

@media (max-width: 900px) {
    .search input {
        width: 25rem;
    }
}

@media (max-width: 1024px) {
    #video-index .secondary {
        display: none;
    }
}

