@charset "UTF-8";
/**
 * @site            Video Games Records - Videos
 * @author          David BENARD
 * @note            Styles for VGR - Video
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Config
    == Project
        -- Layout
        -- Common
        -- Views
        -- Media queries
*/

/* == @section Config ==================== */
@import "config/variables";

/* -- @subsection Layout ---------- */
@import "layout";

/* -- @subsection Layout ---------- */
@import "common";

/* -- @subsection Views ---------- */
@import "views/video-index";
@import "views/player-index";

/* -- @subsection Media queries ---------- */
@import "media-queries";
